* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* exercise 1.1 */

/* .inputBox {
    display: block;
} */

/* exercise 2.1 */

#wrapper {
    display: grid;
    grid-template-columns: repeat( 3, 150px);
    gap: 1em;
}

img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}